@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600i');

@font-face {
    font-family: 'Butler';
    src: url('butler_black-webfont.woff2') format('woff2'),
         url('butler_black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('butler_bold-webfont.woff2') format('woff2'),
         url('butler_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('butler_extrabold-webfont.woff2') format('woff2'),
         url('butler_extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('butler_light-webfont.woff2') format('woff2'),
         url('butler_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('butler_medium-webfont.woff2') format('woff2'),
         url('butler_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('butler_regular-webfont.woff2') format('woff2'),
         url('butler_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('butler_ultra_light-webfont.woff2') format('woff2'),
         url('butler_ultra_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

ul {

}

h1, h2{
  font-family: "Butler", serif;
  font-weight: 700;
}

.header {
  padding-bottom: 50px;
  background: #423E3B;
  text-align: center;
}

  .header-icon {
    display: block;
    width: 200px;
    margin: auto;
  }
  .header-title{
    margin: -30px auto 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
  }
    .header-title::before,
    .header-title::after{
      content: "";
      display: inline-block;
      width: 10px;
      height: 3px;
      background: #fff;
      vertical-align: middle;
    }
    .header-title::before{
      margin-right: 10px;
    }
    .header-title::after{
      margin-left: 10px;
    }
  .cities {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0px;
  }
    .city {
      flex: 1 0 50%;
      text-align: center;
      padding: 20px 0;
    }
      .city-img {
        margin: 0 auto;
        width: 150px;
      }
        .city-title{
          margin: 10px 0 0;
          font-size: 30px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #423E3B;
        }
          .city-description{
            margin: 15px auto 0;
            max-width: 550px;
            padding-bottom: 30px;
            font: italic 400 18px/30px "Open Sans", sans-serif;
          }
            .city:nth-child(4n+3),
            .city:nth-child(4n+2) {
            background: #d4d2d2 ;
            }



  .footer{
    padding: 40px 0;
    background: #423E3B;
    text-align: center;
  }
  .footer-text{
    margin: 0;
    font-family: Georgia;
    font-size:14px;
    font-style: italic;
    color:#fff;
    line-height: 30px;
  }
